In [2]:
import pandas as pd

# Hinzufügen von zusätzlichen Daten

1.) Feiertage in Schleswig-Holstein

In [11]:
# Read data (umsatz_gesamt.csv)
df_umsatz = pd.read_csv('../Data/umsatz_gesamt.csv', parse_dates=['Datum'])

# Read Feiertage.csv
df_feiertage = pd.read_csv('../Data/Feiertage.csv', sep=';', parse_dates=['Datum'])
df_feiertage['Datum'] = pd.to_datetime(df_feiertage['Datum'])

# create holiday set
feiertage_set = set(df_feiertage['Datum'].dt.date)

# find sundays
def is_sunday(date):
    return date.weekday() == 6

# code sundays and holidays
def is_holiday_or_sunday(date):
    return is_sunday(date) or date.date() in feiertage_set

# new column sun- or holiday
df_umsatz['sunday_or_holiday'] = df_umsatz['Datum'].apply(is_holiday_or_sunday).astype(int)

df_umsatz

,Datum,Warengruppe,Umsatz,Wochentag,Kategorie,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,wetter_sonnig,wetter_wolken,wetter_regen,wetter_schnee,wetter_gewitter,wetter_dunst,wetter_nebel,sunday_or_holiday
0,2013-07-01,5.0,317.475875,Monday,Kuchen,0,6.0,17.8375,15.0,20.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,2013-07-01,4.0,65.890169,Monday,Konditorei,0,6.0,17.8375,15.0,20.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2,2013-07-01,2.0,535.856285,Monday,Broetchen,0,6.0,17.8375,15.0,20.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,2013-07-01,3.0,201.198426,Monday,Croissant,0,6.0,17.8375,15.0,20.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
4,2013-07-01,1.0,148.828353,Monday,Brot,0,6.0,17.8375,15.0,20.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,2018-07-31,5.0,261.341313,Tuesday,Kuchen,0,5.0,31.2875,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9330,2018-07-31,4.0,57.102795,Tuesday,Konditorei,0,5.0,31.2875,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9331,2018-07-31,2.0,586.081666,Tuesday,Broetchen,0,5.0,31.2875,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9332,2018-07-31,1.0,123.075682,Tuesday,Brot,0,5.0,31.2875,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9333,2018-07-31,3.0,285.872616,Tuesday,Croissant,0,5.0,31.2875,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [15]:
# save to csv
df_umsatz.to_csv('../Data/umsatz_gesamt_feiertage.csv', index=False)